/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #content::-webkit-scrollbar {
    width: 5px;
  }

  #content::-webkit-scrollbar-track {
    /* background: white; */
    border-radius: 50px;
background: #edf2f7;
  }

  #content::-webkit-scrollbar-thumb {
    background-color: rgb(75, 85, 99); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
  }
}
